{
    "git_command": "/usr/bin/git",
    "server_port": 56789,
    "logfilename": "/tmp/gitpull_server.log",
    "error_logfilename": "/tmp/gitpull_server.err",
    "repositories": {
        "repository1": "/path/to/git/repository",
        "repository2": "/path/to/another/git/repository"
    },
    "email": {
        "from_address": "hoehoe@hoehoe.com"
    }
}
