git_server:
  git_command: /usr/bin/git						# gitコマンドのパス
  server_port: 56789							# 待受けポート番号
  logfilename: /tmp/gitpull_server.log			# ログファイルパス
  repositories:									# リポジトリのディレクトリパスのリスト
    - /path/to/git/repository
    - /path/to/another/git/repository
